*.vcxproj
PolyInfusion/PolyInfusion.VC.db
*.filters
PolyInfusion/PolyInfusion.v12.suo
*.sdf
PolyInfusion/PolyInfusion.opensdf
*.sln
PolyInfusion/PolyInfusion/Debug/PolyInfusion.log
*.exe
PolyInfusion/Debug/PolyInfusion.ilk
*.opendb
PolyInfusion/PolyInfusion/Debug/Bouilloire.obj
*.obj
PolyInfusion/PolyInfusion/Debug/PolyInfusion.tlog/CL.command.1.tlog
*.tlog
PolyInfusion/PolyInfusion/Debug/vc140.idb
*.pdb
PolyInfusion/.vs/PolyInfusion/v14/.suo
PolyInfusion/.vs/PolyInfusion/v14/.suo
*.suo