.container {
    text-align: center;
    padding-top: 5%;

    h1 {
        font-weight: bold;
        font-size: 34px;
        color: black;

        .patient-name {
            font-size: 45px;
            color: #15878a;
        }
    }

    ion-icon {
        font-size: 120px;
        margin: 90px 0;
    }

    .footer {
        position: absolute;
        width: 100%;
        bottom: 30px;

        ion-button {
            font-size: 20px;
            font-weight: bold;
            min-width: 60%;
        }
    }
}
