.spinnerContainer {
    width: 100%;

    ion-spinner {
        display: block;
        margin: 20px auto auto;
    }
}

.bottomBloc {
    width: 100%;

    ion-button {
        display: block;
        width: 60%;
        margin: 50px auto 100px auto;
    }
}