<p>
    Votre nouveau mot de passe doit contenir minimalement une lettre majuscule, une lettre minuscule et
    un chiffre, mais sans commencer par un chiffre. Il doit d'ailleurs être composé minimalement de 8 caractères.
</p>
<form [formGroup]="changePasswordForm" (keydown.enter)="onSubmit()">
    <ion-item mode="md">
        <ion-label position="floating">Mot de passe actuel</ion-label>
        <ion-input formControlName="actualPassword" type="password"></ion-input>
    </ion-item>
    <ion-item mode="md">
        <ion-label position="floating">Nouveau mot de passe</ion-label>
        <ion-input formControlName="newPassword" type="password"></ion-input>
    </ion-item>
    <ion-item mode="md">
        <ion-label position="floating">Confirmez votre nouveau mot de passe</ion-label>
        <ion-input formControlName="newPasswordConfirmed" type="password"></ion-input>
    </ion-item>

    <ion-button (click)="onSubmit()" [disabled]="submitted || !changePasswordForm.valid" color="primary" expand="block"
        margin>
        Changer le mot de passe
    </ion-button>
</form>