<p [ngClass]="{'showContent': hideContent === false}">
    TRAITEMENTS ENTRÉS PAR LE PRATICIEN LORS DE L'EXAMEN CLINIQUE {{(hideContent !== undefined ? "" : ":")}}
    <ion-icon name="arrow-down" *ngIf="hideContent === true"></ion-icon>
    <ion-icon name="arrow-up" *ngIf="hideContent === false"></ion-icon>
</p>
<div [ngClass]="{'hideContent': hideContent === true}" (click)="stopPropagation($event)">
    <radio-button-question [areUsedInForms]="false" [options]="treatmentChoices[0]" [question]="'Éducation thérapeutique :'"></radio-button-question>
    
    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[1]" [question]="'Gestion comportementale et psychologique :'"></checkbox-question>

    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[2]" [question]="'Thérapie pharmacologique :'"></checkbox-question>
    <input-question [areUsedInForms]="false" [question]="'Si autres, indiquez lesquelles'" [inputType]="'text'"></input-question>

    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[3]" [question]="'Orthèses occlusales :'"></checkbox-question>
    <input-question [areUsedInForms]="false" [question]="'Si autres, indiquez lesquelles'" [inputType]="'text'"></input-question>

    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[4]" [question]="'Physiothérapie :'"></checkbox-question>
    <input-question [areUsedInForms]="false" [question]="'Si autres, indiquez lesquelles'" [inputType]="'text'"></input-question>

    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[5]" [question]="'Thérapie occlusale :'"></checkbox-question>

    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[6]" [question]="'Injections :'"></checkbox-question>
    <input-question [areUsedInForms]="false" [question]="'Si autres, indiquez lesquels'" [inputType]="'text'"></input-question>

    <checkbox-question [areUsedInForms]="false" [options]="treatmentChoices[7]" [question]="'Abord chirurgical de l\'ATM :'"></checkbox-question>
</div>