<ion-grid *ngIf="patient">
    <form [formGroup]="patientInfoForm" padding>
        <ion-row>
            <ion-col size="4" class="leftPart">
                <ion-icon name="contact"></ion-icon>
            </ion-col>
            <ion-col size="8" class="rightPart">
                <ion-row>
                    <ion-col size="6">
                        <ion-item mode="md">
                            <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Prénom</ion-label>
                            <ion-input [readonly]="!isEditable" formControlName="firstName" autocapitalize="on"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item mode="md">
                            <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Nom de famille</ion-label>
                            <ion-input [readonly]="!isEditable" formControlName="lastName" autocapitalize="on"></ion-input>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-row>
                    <ion-col size="4">
                        <ion-item mode="md">
                            <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Sexe</ion-label>
                            <ion-select formControlName="gender" [attr.disabled]="!isEditable">
                                <ion-select-option value="Homme">Homme</ion-select-option>
                                <ion-select-option value="Femme">Femme</ion-select-option>
                                <ion-select-option value="Autre">Autre</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-col>
                    <ion-col size="2">
                        <ion-item mode="md">
                            <ion-label position="stacked" [ngClass]="{'disabled-field': true}">Âge</ion-label>
                            <ion-input [readonly]="true" [value]="patientAge"></ion-input>
                        </ion-item>
                    </ion-col>
                    <ion-col size="6">
                        <ion-item mode="md">
                            <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Date de naissance</ion-label>
                            <ion-datetime formControlName="dateOfBirth" [readonly]="!isEditable" display-format="DD/MM/YYYY"
                                          picker-format="DDDD MMMM YYYY"
                                          cancelText="Annuler" doneText="Enregistrer" [monthNames]="frenchMonthNames"
                                          placeholder="--/--/----"
                                          [pickerOptions]="{enterAnimation: enterAnimation, leaveAnimation: leaveAnimation}"></ion-datetime>
                        </ion-item>
                    </ion-col>
                </ion-row>
                <ion-item mode="md">
                    <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Courriel</ion-label>
                    <ion-input formControlName="email" [readonly]="!isEditable" placeholder="-"></ion-input>
                </ion-item>
                <ion-item *ngIf="patient.Address || isEditable" mode="md">
                    <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Adresse</ion-label>
                    <ion-input formControlName="address" [readonly]="!isEditable" spellcheck="false" autocapitalize="off"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Clinique</ion-label>
                    <ion-select formControlName="clinic" [attr.disabled]="!isEditable">
                        <ion-select-option *ngFor="let clinic of clinics" [value]="clinic.Id">{{clinic.Name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-item *ngIf="patient.Notes || isEditable">
            <ion-label position="stacked" [ngClass]="{'disabled-field': !isEditable}">Notes</ion-label>
            <ion-textarea formControlName="notes" placeholder="Aucune note." [readonly]="!isEditable" spellcheck="false" autocapitalize="on"></ion-textarea>
        </ion-item>
    </form>
</ion-grid>
