.leftPart {
    position: relative;

    ion-icon {
        display: block;
        width: 100%;
        text-align: center;
        font-size: 250px;
        color: lightgray;
    }
}

.rightPart {
    padding: 2% 0 2.5% 0;
}

ion-datetime, ion-select {
    opacity: 1 !important;
}

.disabled-field {
    opacity: 0.4;
}

