.card-title {
  margin-left: 20px;
}

.card-content {
  padding: 0;
}

.display-inherit {
  display: inherit;
}

.disclaimer {
  float: left;
  margin: 0 16px 16px 16px;
  text-align: center;
}

.terminate {
  float: right;
  margin-bottom: 15px;
  margin-top: 15px;
  margin-right: 20px;
}

.comments {
  border: 1px solid lightblue;
  border-radius: 10px;
  margin: 0 20px 0 20px;
  width: calc(100% - 40px);
}
